//  Foundation Overrides
//  --------------------
//
//  Table of Contents:
//
//   0. Mixins
//   1. Base Elements
//   2. Search Menu
//   3. Map
//   4. Weather
//   5. Food

// 0. Mixins
// ----------------



// 1. Base Elements
// ----------------

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

// 2. Search Menu
// ----------------

.top-bar {
  @include breakpoint(medium down) {
    flex-direction: column;
  }
  .top-bar-left {
    @include breakpoint(medium down) {
      margin-bottom: 1rem;
    }
    .site-logo {
      width: 3rem;
      @include breakpoint(large) {
        width: 3.5rem;
      }
    }
  }
  .menu {
    li {
      margin: auto 0;
    }
  }
  input,
  button {
    height: 40px;
  }
  input {
    min-width: $topbar-input-width;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  button {
    font-weight: 600;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// 3. Map
// ----------------

#map {
  width: 100%;
  height: 200px;
}

// 4. Weather
// ----------------

#weather {
  p {
    line-height: 1.1;
  }
  a {
    outline: none;
  }
  .accordion-title,
  .tabs-title {
    font-weight: 600;
    transition: background-color 0.25s ease-out;
  }
  .flex-container {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(small only) {
      .place {
        width: 100%;
        order: 4;
        margin-top: 0.5rem;
      }
    }
    @include breakpoint(medium) {
      justify-content: space-around;
    }
    .place,
    .temp {
      p:first-of-type {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
  }
  .forecast {
    flex-direction: column;
    text-align: center;
    p:first-of-type {
      padding-bottom: 0.5rem;
    }
    .owf {
      font-size: 3rem;
    }
  }
  .is-active {
    a {
      color: $white;
      background-color: $primary-color;
    }
  }
  .owf {
    font-size: 3.5rem;
    color: $icon-color;
  }
  .more-info {
    text-align: right;
    margin-bottom: 0.25rem;
    a {
      font-weight: 600;
      color: $primary-color;
      background-color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// 5. Food
// ----------------

#food {
  padding: 1rem;
  p {
    line-height: 1;
    margin-bottom: 0.5rem;
  }
  .img-container {
    position: relative;
    width: 200px;
    height: 100px;
    overflow: hidden;
    .rest-type {
      position: absolute;
      color: $white;
      background-color: rgba($black, 0.8);
      top: 0;
      right: 0;
      padding: 0.25rem 0.5rem;
    }
  }
  .rating-container {
    flex-direction: column;
    margin-left: 0.5rem;
    .rest-rating {
      font-size: 1.5rem;
      span {
        font-size: 1rem;
      }
    }
  }
  .name-container {
    flex-direction: column;
    .rest-name {
      font-size: 1.5rem;
      margin-top: 0.5rem;
    }
  }
  .location-container {
    justify-content: space-between;
    font-size: 1.125rem;
  }
}