
//* layout */

#word-cloud {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $topbar-color;
  padding: 1rem;
}

//* fonts */

.jqcloud {
  font-family: 'Cabin', sans-serif;
  line-height: normal;
  overflow: hidden;
  position: relative;
  font-size: 12px;
  @include breakpoint(large) {
    font-size: 14px;
  }
}

.jqcloud-word {
  margin: 0;
  padding: 0;
}

//* colors */

.jqcloud-word.w1 { color: $dark-gray; }
.jqcloud-word.w2 { color: lighten($dark-gray, 10%); }
.jqcloud-word.w4 { color: lighten($dark-gray, 30%); }
.jqcloud-word.w3 { color: lighten($dark-gray, 20%); }
.jqcloud-word.w5 { color: lighten($dark-gray, 40%); }
.jqcloud-word.w6 { color: lighten($dark-gray, 50%); }
.jqcloud-word.w7 { color: lighten($dark-gray, 60%); }
.jqcloud-word.w8 { color: lighten($dark-gray, 70%); }
.jqcloud-word.w9 { color: lighten($dark-gray, 80%); }
.jqcloud-word.w10 { color: lighten($dark-gray, 90%); }

//* sizes */

.jqcloud-word.w1 { font-size: 100%; }
.jqcloud-word.w2 { font-size: 150%; }
.jqcloud-word.w3 { font-size: 200%; }
.jqcloud-word.w4 { font-size: 250%; }
.jqcloud-word.w5 { font-size: 300%; }
.jqcloud-word.w6 { font-size: 325%; }
.jqcloud-word.w7 { font-size: 375%; }
.jqcloud-word.w8 { font-size: 400%; }
.jqcloud-word.w9 { font-size: 450%; }
.jqcloud-word.w10 { font-size: 500%; }

.jqcloud-word a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
.jqcloud-word a:hover {
  color: #00ccff;
}
